# Node.js
node_modules/
npm-debug.log*

# WebStorm
.idea/

# Build artifacts
build/
out/
dist/
coverage/
*.log*

# Editor-specific files
*.swp
*.swo

# React specific
*.sublime-project
*.sublime-workspace
.vscode/
.flowconfig

# Compiled source
*.min.js

# Dependency directories
packages/
