.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.details-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.details-image{
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

.main-align-layer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.second-align-layer{
    width: fit-content;
    max-width: 500px;
    margin-bottom: 16px;
}

.review-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
